* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-links-container {
  font-family: "Quicksand", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 15px 40px;
}

.about-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.social-links li a {
  color: #fff;
}

.about-links-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.phone {
  display: flex;
  gap: 20px;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.number {
  color: #ffffffb3;
}

.number:hover {
  color: #fff;
}

.about-links-info .phone:last-child {
  border-right: none;
  padding-right: 0;
}

/* Nav Styling */
.about-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 50px 40px;
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid #eae1e1;
  gap: 30px;
}

.about-nav-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.about-line {
  border-right: 1px solid #444444;
  height: 15px;
}

.about-icon {
  display: none;
}

.about-nav-links {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 20px;
}

.about-nav-links li a {
  color: #000;
  text-decoration: none;
}

.about-nav-links li a:hover,
.about-nav-links li a:active {
  color: #3a9842;
}

.about-header-container .nav-side-header {
  padding: 0;
  margin-left: 0;
}

/* details styling */
.about-details {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  font-family: "Quicksand", sans-serif;
}

.about-details h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

.about-product {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-product h3 {
  color: #3a9842;
  font-family: "Raleway", sans-serif;
}

.about-product p {
  font-size: 16px;
  line-height: 1.5;
}

/*  About Image Styling */
.about-image {
  padding: 40px;
  width: 100%;
}

.about-image img {
  object-fit: cover;
  height: 550px;
  width: 100%;
}

/* Team members Styling */
.team-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 100px;
}

.team-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.team-header h5 {
  color: #3a9842;
  font-size: 20px;
}

.team-header h2 {
  text-transform: capitalize;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.team-members-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.team-member-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.team-member-details img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.member-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.member-text h3 {
  font-size: 25px;
}

.member-text p {
  color: #444444;
  font-weight: 500;
}

.member-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.member-links li a {
  color: #000;
}

.team-member-details:hover {
  background-color: #000;
  color: #fff;
}

/* Responsiveness on all platforms */
@media (max-width: 480px) {
  .about-links-container {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 30px 20px 30px 40px;
  }

  .about-links-info {
    font-size: 12px;
  }

  .about-nav-container {
    gap: 10px;
  }

  .about-nav-links {
    display: none;
  }

  .about-icon {
    display: block;
  }

  .nav-content p {
    display: none;
  }

  .about-header-container .nav-content a i {
    color: #3a9842;
  }

  .nav-side-header {
    font-size: 8px;
    gap: 20px;
  }

  .about-details {
    flex-direction: column;
  }

  .about-details h1 {
    font-size: 23px;
    line-height: 1.5;
  }

  .about-image img {
    height: 150px;
  }

  .team-header h2 {
    font-size: 23px;
  }

  .team-members-container {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 1024px) {
}
