.cart-container {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Quicksand", sans-serif;
  padding: 40px;
  margin-top: 60px;
  display: flex;
  gap: 40px;
}

.shopping-bag-container {
  display: flex;
  flex-direction: column;
}

.shopping-bag-container h1,
.cart-totals h1 {
  font-size: 32px;
}

.bag-details-header {
  display: flex;
  text-transform: uppercase;
  gap: 70px;
  font-size: 12px;
  color: #ababab;
  border: 1px solid #ababab;
  border-bottom: none;
  padding: 20px;
  width: 730px;
  margin-top: 40px;
}

.bag-details {
  border: 1px solid #ababab;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 12px;
  width: 730px;
  height: 200px;
  align-items: center;
  font-size: 18px;
}

.bag-details a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 17px;
}

.bag-details img {
  object-fit: cover;
  width: 100px;
}

#quantity {
  border: 1px solid black;
  width: 70px;
  padding: 10px;
  font-size: 18px;
  font-weight: 550;
}

.coupon-container {
  display: flex;
  justify-content: space-between;
  width: 730px;
  margin-top: 40px;
  align-items: center;
}

.coupon {
  background-color: #f1f1f1;
  padding: 13px;
  width: 350px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon input {
  border: none;
  background-color: transparent;
}

#apply {
  background-color: #3a9842;
  color: #ffffff;
  border: 1px solid #3a9842;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  height: 35px;
}

.coupon-container button {
  text-transform: capitalize;
  border: 1px solid #3a9842;
  padding: 20px;
  font-size: 12px;
  background-color: #3a9842;
  color: #ffffff;
  cursor: pointer;
}

.coupon-container button:hover {
  color: #000000;
  border: 1px solid #000000;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ababab;
  width: 400px;
  margin-top: 40px;
  padding: 20px;
  text-transform: uppercase;
  color: #ababab;
  font-size: 12px;
  border-bottom: none;
}

.total {
  display: flex;
  flex-direction: column;
  border: 1px solid #ababab;
  width: 400px;
  padding: 20px;
  height: 200px;
  gap: 40px;
}

.totals {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: flex-start;
}

.checkout {
  background-color: #3a9842;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #3a9842;
}

.checkout:hover {
  background-color: #000;
}

.checkout a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .bag-details-header {
    width: 550px;
    gap: 43px;
  }

  .bag-details {
    width: 550px;
  }

  .bag-details img {
    width: 100px;
  }

  .coupon-container {
    gap: 80px;
    flex-direction: column;
    align-items: center;
    width: 550px;
  }

  .coupon {
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 30px;
  }

  .coupon-container button {
    width: 550px;
  }

  .subtotal {
    width: 550px;
  }

  .total {
    width: 550px;
  }
}

@media screen and (max-width: 475px) {
  .bag-details-header {
    display: none;
  }

  .bag-details {
    flex-direction: column;
    width: 340px;
    height: 400px;
    gap: 10px;
    margin-top: 40px;
  }

  .bag-details img {
    width: 100px;
  }

  .coupon-container {
    flex-direction: column;
    align-items: center;
    width: 340px;
    gap: 80px;
  }

  .coupon {
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 30px;
  }

  .coupon-container button {
    width: 340px;
  }

  .subtotal {
    width: 340px;
  }

  .total {
    width: 340px;
  }
}
